@font-face {
    font-family: Cera;
    src:url('/assets/fonts/cerabasic-bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/cerabasic-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: Author;
    src:url('/assets/fonts/Author-Light.woff2') format('woff2'),
        url('/assets/fonts/Author-Light.woff') format('woff');
        font-weight: 300;
}

@font-face {
    font-family: Author;
    src:url('/assets/fonts/Author-Regular.woff2') format('woff2'),
        url('/assets/fonts/Author-Regular.woff') format('woff');
        font-weight: 500;
}

@font-face {
    font-family: Author;
    src:url('/assets/fonts/Author-Medium.woff2') format('woff2'),
        url('/assets/fonts/Author-Medium.woff') format('woff');
        font-weight: 600;
}