/*Variables*/
:root{
    /*Variables > Breakpoints*/
        --mobile-breakpoint: 411;
        --desktop-breakpoint: 1360;
        --tablet-size: calc(var(--desktop-breakpoint) - var(--mobile-breakpoint));
    /*END OF :: Variables > Breakpoints*/

    /*Variables > Typography*/
        /*Variables > Typography > Fonts*/
            --heading-font: 'Cera', sans-serif;
            --body-font: 'Author', sans-serif;
        /*END OF :: Variables > Typography > Fonts*/

        /*Variables > Typography > Headings*/
            --huge-mobile-heading-size: 37;
            --large-mobile-heading-size: 30;
            --medium-mobile-heading-size: 24;
            --normal-mobile-heading-size: 20;
            --small-mobile-heading-size: 17;

            --huge-desktop-heading-size: 75;
            --large-desktop-heading-size: 55;
            --medium-desktop-heading-size: 40;
            --normal-desktop-heading-size: 30;
            --small-desktop-heading-size: 20;

            --huge-heading-size-change: calc(var(--huge-desktop-heading-size) - var(--huge-mobile-heading-size));
            --x-large-heading-size-change: calc(var(--x-large-desktop-heading-size) - var(--x-large-mobile-heading-size));
            --large-heading-size-change: calc(var(--large-desktop-heading-size) - var(--large-mobile-heading-size));
            --medium-heading-size-change: calc(var(--medium-desktop-heading-size) - var(--medium-mobile-heading-size));
            --normal-heading-size-change: calc(var(--normal-desktop-heading-size) - var(--normal-mobile-heading-size));
            --small-heading-size-change: calc(var(--small-desktop-heading-size) - var(--small-mobile-heading-size));
        /*END OF :: Variables > Typography > Headings*/

        /*Variables > Typography > Body*/
            --lrg-body: 20px;
            --reg-body: 17px;
            --sml-body: 15px;
        /*END OF :: Variables > Typography > Body*/

    /*END OF :: Variables > Typography*/

    /*Variables > Colours*/
        --hgh-green: 92, 127, 74; /*HEX #5C7F4A*/
        --hgh-bright-green: 99, 149, 76; /*HEX #63954C*/
        --hgh-dark-gray: 40, 40, 40; /*HEX #282828*/
        --hgh-medium-gray: 72, 72, 72; /*HEX #484848*/
        --hgh-white: 242, 242, 242; /*HEX #F2F2F2*/
    /*END OF :: Variables > Colours*/
}
/*END OF :: Variables*/

/*Reset / Defaults*/
    *{
        box-sizing: border-box;
    }
    html {
        line-height: 1.5; 
        -webkit-text-size-adjust: 100%;
        font-size: var(--reg-body);
        font-family: var(--body-font);
        font-weight:500;
        scroll-behavior: smooth;
    }

    @media screen and (min-width:767px) {
        html{
            font-size: calc(var(--reg-body) + 3px);
        }
    }

    body {
        margin: 0;
    }

    #root{
        overflow-x: hidden;
    }

    main {
        display: block;
    }

    hr {
        box-sizing: content-box;
        height: 1px;
        overflow: visible;
        width: 100%;
        border: none;
        margin: 2rem auto;
    }

    @media screen and (min-width:768px){
        hr {
            margin: 3rem auto;
        }
    }

    pre {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    a {
        background-color: transparent;
        cursor:pointer;
        text-decoration: none;
        color:rgb(var(--hgh-medium-gray));
    }

    /* Disabled because there is only one page
    a:visited{}
    */

    abbr[title] {
        border-bottom: none;
        text-decoration: underline;
        text-decoration: underline dotted;
    }

    p{
        margin: 0.1em 0 0.67em 0;
        color:rgb(var(--hgh-medium-gray));
    }

    b,
    strong,
    .bold{
        font-weight: 700;
    }

    code,
    kbd,
    samp{
        font-family: monospace, monospace;
        font-size: 1em;
    }

    small{
        font-size: 80%;
    }

    sub,
    sup{
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub{
        bottom: -0.25em;
    }

    sup{
        top: -0.5em;
    }

    img{
        border-style: none;
        max-width:100%;
    }

    figure{
        margin: 0;
    }

    ul,ol{
        margin-top: 0;
        margin-bottom:1rem;
        padding-inline-start: 2.5rem;
        list-style: none;
    }

    ul:not(.main-menu) li::before,
    ol:not(.main-menu) li::before{
        content: "\2022";
        color: rgb(var(--hgh-bright-green));
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        font-size: 1.75rem;
        margin-left: -1em;
        height: 1rem;
      }

    ul:not(.main-menu) li,
    ol:not(.main-menu) li{
        margin-bottom: 0.4rem;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.5;
        margin: 0;
    }

    ::-moz-placeholder,
    ::placeholder,
    ::-webkit-input-placeholder{
        opacity: 0.8;
        color: rgb(var(--hgh-medium-gray));
    }

    input:focus::placeholder,
    input:focus::-moz-placeholder,
    input:focus::-webkit-input-placeholder{
        opacity:0.2;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
        background: transparent;
        border:none;
    }

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

    fieldset {
        padding: 0.35em 0.75em 0.625em;
    }

    legend {
        box-sizing: border-box; 
        color: inherit;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
    }

    progress {
        vertical-align: baseline;
    }

    textarea {
        overflow: auto;
    }

    [type="checkbox"],
    [type="radio"] {
        box-sizing: border-box;
        padding: 0; 
    }

    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px; 
    }

    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    ::-webkit-file-upload-button {
        -webkit-appearance: button; 
        font: inherit;
    }

    details {
        display: block;
    }

    summary {
        display: list-item;
    }

    template {
        display: none;
    }

    [hidden] {
        display: none;
    }
/*END OF :: Reset*/

/* Global Styling*/
    /*Global > Typography*/
        /*Global > Typography > Headings*/
        h1,
        .huge-title,
        h2,
        .x-large-title,
        h3,
        .large-title,
        h4,
        .medium-title,
        h5,
        .normal-title,
        h6,
        .small-title{
            font-family: var(--heading-font);
            font-style: normal;
            color: rgb(var(--hgh-dark-gray));
            line-height:115%;
            letter-spacing: -0.025em;
        }

        h1,
        h2.huge-title,
        h3.huge-title,
        h4.huge-title,
        h5.huge-title,
        h6.huge-title,
        .huge-title{
            font-size: calc(var(--huge-mobile-heading-size) * 1px);
            margin: 0 0 0.15em;
            line-height:115%;
        }

        h1.large-title,
        h2,
        h3.large-title,
        h4.large-title,
        h5.large-title,
        h6.large-title,
        .large-title{
            font-size: calc(var(--large-mobile-heading-size) * 1px);
            margin: 0 0 0.15em;
            line-height:115%;
        }

        h1.medium-title,
        h2.medium-title,
        h3,
        h4.medium-title,
        h5.medium-title,
        h6.medium-title,
        .medium-title{
            font-size: calc(var(--medium-mobile-heading-size) * 1px);
            margin: 0 0 0.15em;
            line-height:115%;
        }

        h1.normal-title,
        h2.normal-title,
        h3.normal-title,
        h4,
        h5.normal-title,
        h6.normal-title,
        .normal-title{
            font-size: calc(var(--normal-mobile-heading-size) * 1px);
            margin: 0 0 0.15em;
            line-height:115%;
        }

        h1.small-title,
        h2.small-title,
        h3.small-title,
        h4.small-title,
        h5,
        h6.small-title,
        h6,
        .small-title{
            font-size: calc(var(--small-mobile-heading-size) * 1px);
            margin: 0 0 0.15em;
            line-height:130%;
        }

        @media screen and (min-width: 400px) {
            h1,
            h2.huge-title,
            h3.huge-title,
            h4.huge-title,
            h5.huge-title,
            h6.huge-title,
            .huge-title{
                font-size: calc((var(--huge-mobile-heading-size) * 1px) + var(--huge-heading-size-change) * ((100vw - (var(--mobile-breakpoint) * 1px)) / var(--tablet-size)));
            }

            h1.large-title,
            h2,
            h3.large-title,
            h4.large-title,
            h5.large-title,
            h6.large-title,
            .large-title{
                font-size: calc((var(--large-mobile-heading-size) * 1px) + var(--large-heading-size-change) * ((100vw - (var(--mobile-breakpoint) * 1px)) / var(--tablet-size)));
            }

            h1.medium-title,
            h2.medium-title,
            h3,
            h4.medium-title,
            h5.medium-title,
            h6.medium-title,
            .medium-title{
                font-size: calc((var(--medium-mobile-heading-size) * 1px) + var(--medium-heading-size-change) * ((100vw - (var(--mobile-breakpoint) * 1px)) / var(--tablet-size)));
            }

            h1.normal-title,
            h2.normal-title,
            h3.normal-title,
            h4,
            h5.normal-title,
            h6.normal-title,
            .normal-title{
                font-size: calc((var(--normal-mobile-heading-size) * 1px) + var(--normal-heading-size-change) * ((100vw - (var(--mobile-breakpoint) * 1px)) / var(--tablet-size)));
            }

            h1.small-title,
            h2.small-title,
            h3.small-title,
            h4.small-title,
            h5,
            h6.small-title,
            h6,
            .small-title{
                font-size: calc((var(--small-mobile-heading-size) * 1px) + var(--small-heading-size-change) * ((100vw - (var(--mobile-breakpoint) * 1px)) / var(--tablet-size)));
            }
        }
            
        @media screen and (min-width: 1360px) {
            h1,
            h2.huge-title,
            h3.huge-title,
            h4.huge-title,
            h5.huge-title,
            h6.huge-title,
            .huge-title{
                font-size: calc(var(--huge-desktop-heading-size) * 1px);
            }

            h1.large-title,
            h2,
            h3.large-title,
            h4.large-title,
            h5.large-title,
            h6.large-title,
            .large-title{
                font-size: calc(var(--large-desktop-heading-size) * 1px);
            }

            h1.medium-title,
            h2.medium-title,
            h3,
            h4.medium-title,
            h5.medium-title,
            h6.medium-title,
            .medium-title{
                font-size: calc(var(--medium-desktop-heading-size) * 1px);
            }

            h1.normal-title,
            h2.normal-title,
            h3.normal-title,
            h4,
            h5.normal-title,
            h6.normal-title,
            .normal-title{
                font-size: calc(var(--normal-desktop-heading-size) * 1px);
            }

            h1.small-title,
            h2.small-title,
            h3.small-title,
            h4.small-title,
            h5,
            h6.small-title,
            h6,
            .small-title{
                font-size: calc(var(--small-desktop-heading-size) * 1px);
            }
        }
    /*END OF :: Global > Typography > Headings*/

    /*Global > Typography > Body*/
        p,
        .lrg-body,
        .reg-body,
        .sml-body{
            font-family: var(--body-font);
            font-style: normal;
            line-height: 130%;
            color: rgb(var(--hgh-medium-gray));
        }

        p.lrg-body,
        .lrg-body{
            font-size: var(--lrg-body);
        }

        p,
        p.reg-body,
        .reg-body{
            font-size: var(--reg-body);
        }

        small,
        p.sml-body,
        .sml-body{
            font-size: var(--sml-body);
        }

        .light-weight{
            font-weight: 300;
        }

        .normal-weight{
            font-weight: 500;
        }

        .medium-weight{
            font-weight: 600;
        }

        @media screen and (min-width: 767px) {  
            p.lrg-body,
            .lrg-body{
                font-size: calc(var(--lrg-body) + 5px);
                line-height: 140%;
            }
            p,
            p.reg-body,
            .reg-body{
                font-size: calc(var(--reg-body) + 3px);
                line-height: 140%;
            }
    
            small,
            p.sml-body,
            .sml-body{
                font-size: calc(var(--sml-body) + 2px);
                line-height: 140%;
            }
        }
    /*END OF :: Global > Typography > Body*/
/*END OF :: Global > Typography*/

    /*Global > Button / Call to Action Link*/
        .btn{
            display: inline-flex;
            -ms-flex-direction: row;
            flex-direction: row;
            justify-content:space-between;
            align-items:center;
            max-width: max-content;
            padding: 1rem 1.25rem;
            font-weight: 700;
            color: rgb(var(--hgh-dark-gray));
            box-shadow: inset 0px 0px 0px 1px rgb(var(--hgh-bright-green));
            line-height: 115%;
            border:none;
            position: relative;
            overflow:hidden;
        }

        @media screen and (max-width: 767px){
            .btn{
                width: 100%;
                max-width: 100%;
            }
        }

        .btn:after{
            content: '';
            bottom: 0px;
            right: 0px;
            min-width:40px;
            height:40px;
            margin-left:25px;
            box-shadow: inset -1px 1px 0px 0px rgb(var(--hgh-bright-green));
        }

        .btn:before{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width:calc(100% - 1.268rem);
            height:1rem;
            background-color: rgba(var(--hgh-bright-green), 0.15);
            z-index:1;
            transform-origin: left bottom;
            transform: scaleY(0);
            transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
            box-shadow: inset -1px 0px 0px 0px rgb(var(--hgh-bright-green));

        }

        .btn[download]:before{
            transform-origin: left top;
            bottom: auto;
            top: 0px;
        }

        .btn[download]:after{
            box-shadow: inset -1px -1px 0px 0px rgb(var(--hgh-bright-green));
        }

        .btn:hover:before{
            transform: scaleY(1);
        }

        .hgh-bright-green-bg .btn{
            color: rgb(var(--hgh-white));
            box-shadow: inset 0px 0px 0px 1px rgb(var(--hgh-white));
        }

        .hgh-bright-green-bg .btn:after{
            box-shadow: inset -1px 1px 0px 0px rgb(var(--hgh-white));
        }

        .hgh-bright-green-bg .btn[download]:after{
            color: rgb(var(--hgh-white));
            box-shadow: inset -1px -1px 0px 0px rgb(var(--hgh-white));
        }

        .hgh-bright-green-bg .btn:before{
            background-color: rgba(var(--hgh-white), 0.15);
            box-shadow: inset -1px 0px 0px 0px rgb(var(--hgh-white));
        }
    /*END OF :: Global > Button & Call to Action Link*/

    /*Global > Colours*/
        .hgh-green{
            color: rgb(var(--hgh-green));
        }
        .hgh-green-bg{
            background-color: rgb(var(--hgh-green));
        }
        .hgh-bright-green{
            color: rgb(var(--hgh-bright-green));
        }
        .hgh-bright-green-bg{
            background-color:rgb(var(--hgh-bright-green));
        }
        .hgh-white{
            color: rgb(var(--hgh-white));
        }
        .hgh-white-bg{
            background-color: rgb(var(--hgh-white));
        }
        .hgh-medium-gray{
            color: rgb(var(--hgh-medium-gray));
        }
        .hgh-medium-gray-bg{
            background-color: rgb(var(--hgh-medium-gray));
        }
        .hgh-dark-gray{
            color: rgb(var(--hgh-dark-gray));
        }
        .hgh-dark-gray-bg{
            background-color: rgb(var(--hgh-dark-gray));
        }
    /*END OF :: Global > Colours*/

    /*Global > Link*/
        .link{
            text-decoration: underline;
        }
    /*END OF :: Global > Link*/

    /*Global > Default Rows & Columns*/
        .support{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
            -ms-flex-wrap:wrap;
                flex-wrap:wrap;
            -webkit-box-pack:justify;
                -ms-flex-pack:justify;
                    justify-content:space-between;
            -ms-flex-line-pack:justify;
                align-content:space-around;
        }

        .section-container{
            width: 100%;
        }
        
        .content-container{
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        
        .row-container,
        .content-container{
            height: 100%;
            padding: 0px;
            margin: 0 auto;
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            width:100%;
            max-width: calc(var(--desktop-breakpoint) * 1px);
        }

        .col-1, 
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9,
        .col-10,
        .col-11,
        .col-12{
            width: 100%;
            position: relative;
            display: -webkit-box;
                display: -ms-flexbox;
                    display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .bottom-right{
            align-items: flex-end;
            justify-content: flex-end;
        }

        @media screen and (max-width: 767px){
            .mrg-mbl{
                margin-bottom: 2em;
            }
            .reverse-mbl{
                flex-direction: column-reverse;
            }
        }

        @media screen and (min-width: 768px) {
            .col-1{
                width: calc(((100% / 12) * 1) - 10px);
            }
            .col-2{
                width: calc(((100% / 12) * 2) - 10px);
            }
            .col-3{
                width: calc(((100% / 12) * 3) - 10px);
            }
            .col-4{
                width: calc(((100% / 12) * 4) - 10px);
            }
            .col-5{
                width: calc(((100% / 12) * 5) - 10px);
            }
            .col-6{
                width: calc(((100% / 12) * 6) - 10px);
            }
            .col-7{
                width: calc(((100% / 12) * 7) - 10px);
            }
            .col-8{
                width: calc(((100% / 12) * 8) - 10px);
            }
            .col-9{
                width: calc(((100% / 12) * 9) - 10px);
            }
            .col-10{
                width: calc(((100% / 12) * 10) - 10px);
            }
            .col-11{
                width: calc(((100% / 12) * 11) - 10px);
            }
            .col-12{
                width: calc(((100% / 12) * 12) - 10px);
            }
        }

        @media screen and (min-width: 1000px) {
            .col-1{
                width: calc(((100% / 12) * 1) - 1rem);
            }
            .col-2{
                width: calc(((100% / 12) * 2) - 1rem);
            }
            .col-3{
                width: calc(((100% / 12) * 3) - 1rem);
            }
            .col-4{
                width: calc(((100% / 12) * 4) - 1rem);
            }
            .col-5{
                width: calc(((100% / 12) * 5) - 1rem);
            }
            .col-6{
                width: calc(((100% / 12) * 6) - 1rem);
            }
            .col-7{
                width: calc(((100% / 12) * 7) - 1rem);
            }
            .col-8{
                width: calc(((100% / 12) * 8) - 1rem);
            }
            .col-9{
                width: calc(((100% / 12) * 9) - 1rem);
            }
            .col-10{
                width: calc(((100% / 12) * 10) - 1rem);
            }
            .col-11{
                width: calc(((100% / 12) * 11) - 1rem);
            }
            .col-12{
                width: calc(((100% / 12) * 12) - 1rem);
            }
        }
    /*END OF :: Global > Default Rows & Columns*/
/* END OF :: Global Styling*/


/*Site Containers*/
.site-header .section-container,
.site-footer,
.entry-content .section-container,
.entry-content .section-container.fullwidth > .content-container,
.site-footer.fullwidth > .content-container{
    max-width: calc(var(--desktop-breakpoint) * 1px);
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: clamp(1rem, 6%, 30px);
    padding-inline-end: clamp(1rem, 6%, 30px);
}

.entry-content .section-container.fullwidth,
.site-footer.fullwidth{
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}
/* END OF :: Site Containers*/


/*Masthead Site Header*/
.site-header .section-container{
    align-items: center;
}

.site-header::before,
.site-header::after{
    content:'';
    position: relative;
    display: block;
    width: 100%;
    height:1rem;
}

.site-header.sticky, .site-header.sticky{
    transition: height 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.site-header.sticky{
    position: fixed;
    top:0;
    width: 100%;
    z-index:5;
    background-color: #FFFFFF;
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.site-header.sticky::after,
.site-header.sticky::before{
   height: 0.5rem;
}

.sticky + .header2main-block-spacer{
    margin-top: 116.33px;
}




@media screen and (min-width:820px){
    .site-header::before,
    .site-header::after{
        border-width: 1.5rem;
    }
    .site-header.sticky::after,
    .site-header.sticky::before{
        height: 1rem;
    }

}


    /*Masthead Site Header > Main Menu*/

    /*END OF :: Masthead Site Header > Main Menu*/
    .toggle-line{
        height: 1px;
        width: 100%;
        background-color: #63954C;
        transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s,background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s, opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s;
    }

    #main-menu-toggle.toggled .toggle-line{
        background-color: #FFFFFF;
    }

    #main-menu-toggle.toggled .mid-line{
        transform: translateX(10px) scaleX(1.2);
        opacity: 0;
    }

    #main-menu-toggle .top-line{
        transform-origin: left center;
    }

    #main-menu-toggle .bot-line{
        transform-origin: left center;
    }

    #main-menu-toggle.toggled .top-line{
        transform: rotateZ(25deg)
    }

    #main-menu-toggle.toggled .bot-line{
        transform: rotateZ(-25deg)
    }

    body.toggled{
        overflow: hidden;
    }

    .menu-link{
        position: relative;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
    .menu-link::after{
        content: '';
        width: calc(100% + 20px);
        left: -9px;
        position: absolute;
        transform-origin: left bottom;
        opacity:0;
        transform:scaleY(0);
        z-index: -1;
        transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .menu-link:hover::after,
    .menu-link:focus::after{
        transform:scaleY(1);
        opacity: 1;
        background-color: rgba(var(--hgh-bright-green) , 0.25);
    }
    .menu-link:active::after{
        transform:scaleY(2.1);
        opacity: 1;
    }

    @media screen and (max-width:880px){
        .main-nav{
            position: fixed;
            width: 100vw;
            height: calc(var(--vh, 1vh) * 100);
            top: calc((var(--vh, 1vh) * 100) * -1);
            left: 0;
            background-color: rgba(var(--hgh-bright-green) , 1);
            background-image: url('/assets/img/mobile-menu-lines.svg');
            background-position: right bottom;
            background-size: 75vw;
            background-repeat: no-repeat;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-inline-start: clamp(1rem, 12%, 7rem);
            padding-inline-end: clamp(1rem, 12%, 30px);
            padding-block-start: clamp(5rem, 20%, 10rem);
            padding-block-end: clamp(1rem, 12%, 8rem);
            transform: none;
            transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        .main-nav.toggled{
            transform: translateY(calc(var(--vh, 1vh) * 100));
        }

        .main-menu{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .main-menu .menu-item{
            margin-bottom: 1.67rem;
        }

        .main-menu .menu-item a{
            font-family: var(--heading-font);
            font-size: calc(var(--medium-desktop-heading-size) * 1px);
            font-weight: 700;
            color: rgb(var(--hgh-white));
        }

        #main-menu-toggle{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 60px;
            height:25px;
            z-index: 4;
        }

        .mobile-contact a{
            margin-right: 10px;
            opacity: 0.75;
            transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        .mobile-contact a:hover{
            opacity: 1;
        }

        .menu-link{
            z-index: 2;
        }

        .menu-link::after{
            height:15px;
            background-color: rgba(var(--hgh-green) , 0.5);
            left: -9px;
            bottom:calc(-50% + 13px);
            z-index: 1;
        }

        .menu-link:hover::after,
        .menu-link:focus::after{
            background-color: rgba(var(--hgh-green) , 0.5);
        }

        .menu-link:active::after{
            transform:scaleY(1);
            opacity: 1;
            background-color: rgba(var(--hgh-green) , 1);
        }
        .site-header.sticky.hide{
            transform: translateY(-100%);
        }
    }

    @media screen and (max-width:360px){
        .main-menu .menu-item a{
            font-family: var(--heading-font);
            font-size: calc(var(--normal-desktop-heading-size) * 1px);
        }
    }

    @media screen and (min-width:880px){
        .main-menu{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            list-style: none;
            font-family: var(--body-font);
            letter-spacing: -0.025em;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }

        .ghost{
            display: none;
        }
    
        .menu-item{
            margin-left: 1.5rem;
            text-align: right;
        }

        .mobile-contact{
            display: none;
        }

        .menu-link::after{
            height:11px;
            background-color: rgba(var(--hgh-bright-green) , 0.25);
            left: -9px;
            bottom:calc(-50% + 8px);
        }

        .menu-link.active::after{
            transform:scaleY(1);
            opacity: 0.5;
        }
        .menu-link.active:hover::after{
            transform:scaleY(2.1);
            opacity: 1;
        }
    }

    @media screen and (min-width:880px) and (max-width:1120px){
        .main-nav{
            max-width: calc(100% - 260px);
        }
    }



    @media screen and (max-width:1120px){
        .logo{
            max-width: 215px;
        }
    }

    @media screen and (max-width:880px){
        .logo{
            max-width: 125px;
            transition: max-width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
        .sticky .logo{
            max-width: 100px;
        }
    }

    @media screen and (min-width:1121px){
        .main-nav{
            max-width: calc(100% - 500px);
            width: 100%;
        }
        .logo{
            max-width: 400px;
            transition: max-width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
        .sticky .logo{
            max-width: 250px;
        }
    }
/*END OF :: Masthead Site Header*/


/*Content Header - Homepage*/
.header2main-block-spacer{
    height: clamp(50px , 15vw , 9rem);
}


#home-content-header h1{
    margin-bottom: 1.5rem;
}

.content-header-title-container{
    position: relative;
}

.content-header-title-container:after{
    content: '';
    position: absolute;
    z-index: -1;
    right: -75px;
    top: 75px;
    width: 320px;
    height:320px;
    background-image: url('/assets/img/home-header-wood-curves.svg');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1000px){
    #home-content-header h1 br{
        display: none;
    }
}

#home-content-header{
    --bottom-spacer: 77px;
    --slider-height: 400px;
}

@media screen and (min-width: 400px){
    #home-content-header{
        --bottom-spacer: (77px + 93 * ((100vw - 400px) / 600));
        --slider-height: (400px + 342 * ((100vw - 400px) / 600));
    }
    .content-header-title-container:after{
        width: calc(320px + 424 * ((100vw - 400px) / 600));
        height: calc(300px + 424 * ((100vw - 400px) / 600));
        right: calc(-75px - 200 * ((100vw - 400px) / 600));
        top: calc(75px - 175 * ((100vw - 400px) / 600));
    }
}

@media screen and (min-width: 1000px){
    #home-content-header{
        --bottom-spacer: 170px;
        --slider-height: 742px;
    }
    .content-header-title-container:after{
        width: 744px;
        height:744px;
        right: -275px;
        top: -100px;
    }

    .content-header-title-container.transform::after{
        background-position: center top 150px;
        opacity: 0;
        transition: background-position 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s , opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
    }

    .content-header-title-container.transformed::after{
        background-position: center top 0px;
        opacity: 1;
    }
}

    /*Content Header - Homepage > Hero Slider*/
    .hero-slider-container{
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .hero-slider-container:after{
        content:'';
        background-color: rgb(var(--hgh-bright-green));
        width: 50vw;
        height:calc(50% + var(--bottom-spacer));
        position: absolute;
        bottom: calc(0px - var(--bottom-spacer));
        left:0;
        z-index: -1;
    }
    
    @media screen and (min-width: 767px){
        .hero-slider-container:after{
            width: calc(521px + ((100% - 1300px) / 2));
        }
    }
    
    .hero-slider{
        width: calc(100% - 1.5rem);
        max-width: calc(100% - ((100% - 1300px) / 2));
        cursor: grab;
    }
    
    .hero-slider:focus,
    .hero-slider:active{
        cursor: grabbing;
    }
    
    
    .hero-slide{
        padding-bottom: calc(var(--slider-height));
        width: 100%;
        position: relative;
    }

    .hero-slide:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        z-index: 2;
        background: linear-gradient(360deg, rgba(40, 40, 40, 0.75) 0%, rgba(0, 0, 0, 0) 50%);
        mix-blend-mode: multiply;
    }
    
    .lazy__slide{
        background-color: rgb(var(--hgh-green));
    }
    .hero-fig{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-img{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
        z-index: 1;
    }
    
    .lazy-hidden{
        opacity: 0;
    
    }

    .hero-content-container{
        display: flex;
        flex-direction:column;
        position: absolute;
        bottom: 0rem;
        left: 1rem;
    }
    
    .hero-content{
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        z-index: 3;
        margin-bottom:1rem;
    }

    .hero-content-container figcaption{
        position: relative;
        z-index: 10;
        align-self: flex-start;
    }
    
    .hero-controls{
        position: absolute;
        right: 1.5rem;
        top:1.5rem;
        bottom: auto;
        display: flex;
        align-items: center;
    }
    
    .arrow {
        cursor: pointer;
        height: 35px;
        width: auto;
    }

    .arrow svg{
        height: 100%;
        width: auto;
    }
    
    .slides-indicator{
        letter-spacing: 0.2rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
    }
    
    .hero-text-content{
        max-width: 420px;
    }
    
    .hero-text-content p{
        margin-bottom: 0;
    }
    
    .hero-content img{
        width: 50px;
        height: 50px;
        margin-right: 0.5rem;
    }

    .arrow{
        height: 50px;
        width: auto;
    }
    
    @media screen and (min-width:1000px) {
        .hero-controls{
            bottom: 5.25rem;
            right: 3rem;
            top: auto;
        }

        .hero-content{
            margin-bottom:2rem;
        }

        .hero-content-container{
            left: 2.25rem;
            bottom: 0rem;
        }
    
        .arrow{
            height: 70px;
            width: auto;
        }
        .hero-content img{
            width: 140px;
            height: 140px;
            margin-right: 1rem;
        }
    }
    /*END OF :: Content Header - Homepage > Hero Slider*/

.hero-header-bottom-section .block-spacer{
    height: calc(var(--bottom-spacer))
}
/*END OF :: Content Header - Homepage*/

#what-we-do-section-container{
    position: relative;
}

#what-we-do-section-container::after{
    content: '';
    position: absolute;
    width: calc((100vw - 1300px) / 2);
    height: 100%;
    background-color: rgb(var(--hgh-bright-green));
    top: 0;
    left: calc(100% - 30px);
    z-index: 2;
}

#what-we-do-section-container .content-container{
    padding-inline-end: clamp(1rem, 6%, 30px);
    padding-block-end: 2.5rem;
}

@media screen and (max-width: 1360px){
    #what-we-do-section-container::after{
        width: 30px;
        left: calc(100% - 26px);
    }
}


.why-img-section-container{
    --img-height: 150px;
    padding-bottom: calc(var(--img-height));
    position: relative;
    width: 100%;
}

@media screen and (min-width: 400px){
    .why-img-section-container{
        --img-height: (150px + 200 * ((100vw - 400px) / 600));
    }
}

@media screen and (min-width: 1000px){
    .why-img-section-container{
        --img-height: 350px;
    }
}

.pre-title{
    display: flex;
    align-items: center;
    width: 100%;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}

.pre-title:not(.no-line):after{
    content:'';
    width: 100%;
    height: 1px;
    margin-inline-start: 1em;
    margin-inline-end: 0em;
    display: block;
    background-color: rgb(var(--hgh-bright-green));
}

.pre-title.transform::after{
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}

.pre-title.transformed::after{
    transform: scaleX(1);
}

.pre-title:not(.no-line).hgh-white:after{
    background-color: rgb(var(--hgh-white));
}

.pre-title-label{
    font-size: 18px;
    letter-spacing: 2%;
    white-space: nowrap;
}

.pre-title-opposite-padding{
    padding-block-start: 1rem;
}

@media screen and (min-width:767px){
    .pre-title-opposite-padding{
        padding-block-start: 3.5rem;
    }
}

.about2services-block-spacer{
    height: clamp(200px , 35vw , 300px);
}

.services-section-container{
    background: linear-gradient(180deg, rgba(40, 40, 40, 0.03) 0%, rgba(40, 40, 40, 0) 100%);
    padding-top: 5rem;
    --top-image-height: 270px;
    --bottom-image-height: 200px;
}

@media screen and (min-width: 300px){
    .services-section-container{
        --top-image-height: (270px + 400 * ((100vw - 300px) / 466));
        --bottom-image-height: (200px + 350 * ((100vw - 300px) / 466));
    }
}

@media screen and (min-width: 767px){
    .services-section-container{
        --top-image-height: 670px;
        --bottom-image-height: 550px;
    }
}

@media screen and (min-width: 768px){
    .services-section-container{
        --top-image-height: (400px + 200 * ((100vw - 767px) / 533));
        --bottom-image-height: (280px + 220 * ((100vw - 767px) / 533));
    }
}

@media screen and (min-width: 1300px){
    .services-section-container{
        --top-image-height: 600px;
        --bottom-image-height: 500px;
    }
}

@media screen and (min-width:1000px){
    .services-section-container ul{
        padding-right:6rem;
    }
}

.service-images{
    margin-top: -11em;
    position: relative;
}

@media screen and (min-width: 767px){
    .service-images{
        margin-top: -11em;
        position: relative;
    }
}

.service-top-img img,
.service-bottom-img img{
    width: 100%;
    max-width: calc(((100% / 12) * 10.3699) - 1rem);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s , opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
}

.service-top-img figcaption,
.service-bottom-img figcaption{
    max-width: calc(((100% / 12) * 10.3699) - 1rem);
}

.service-top-img.transform img{
    transform:translateX(2rem);
    opacity: 0;
}
.service-bottom-img.transform img{
    transform:translateX(-2rem);
    opacity: 0;
}

.service-top-img.transformed img,
.service-bottom-img.transformed img{
    transform:translateX(0rem);
    opacity: 1;
}

.service-top-img,
.service-bottom-img{
    display: flex;
    width: 100%;
    position: relative;
}

.service-top-img{
    padding-bottom:calc(var(--top-image-height));;
    justify-content: flex-end;
}

#service-tree-lines,
#cop26-tree-lines{
    width:190px;
    height: 190px;
    position: absolute;
    right: -80px;
    bottom: -160px;
    background-image: url('/assets/img/wood-waves-services.svg');
    background-size:contain;
    z-index:-1;
    opacity: 0.55;
    border-radius: 50%;
}

#cop26-tree-lines{
    z-index:0;
    right: auto;
    left: -30px;
    bottom: -120px;
}


@media screen and (min-width: 400px){
    #service-tree-lines,
    #cop26-tree-lines{
        width: calc(190px + 183 * ((100vw - 400px) / 900));
        height: calc(190px + 183 * ((100vw - 400px) / 900));
        right: calc(-80px - 100 * ((100vw - 400px) / 900));
    }
    #cop26-tree-lines{
        left: calc(-30px - 150 * ((100vw - 400px) / 900));
        right: auto;
    }
}

@media screen and (max-width: 767px){
    #cop26-tree-lines{
        bottom: 0;
        top: -60px;
    }
}

@media screen and (min-width: 1300px){
    #service-tree-lines,
    #cop26-tree-lines{
        width:373px;
        height: 373px;
        right: -180px;
    }

    #cop26-tree-lines{
        left: -180px;
        right: auto;
    }
}

.service-bottom-img{
    padding-bottom:calc(var(--bottom-image-height));;
    margin-top:-5em;
    position: relative;
}

.service-bottom-img:before{
    content: '';
    width: 100%;
    max-width: calc((100% / 12) * 2);
    height: 100%;
    max-height: calc((100% / 10) * 2);
    position: absolute;
    left: -1rem;
    top: -1rem;
    box-shadow: inset 1px 1px 0px 0px rgb(var(--hgh-bright-green));
    transform-origin: left top;
    transform: scale(0);
    transition: transform 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s;
}

.service-bottom-img.transformed:before{
    transform: scale(1);
}

.services2cop26-block-spacer{
    height: clamp(50px , 15vw , 9rem);
}

.cop26-title-container{
    position: relative;
}

.cop26-title-container .content-container{
    background-color: #FFFFFF;
    padding-inline-end: clamp(1rem, 6%, 30px);
}

.cop26-title-container:before{
    content: '';
    position: absolute;
    width: calc((100vw - 1300px) / 2);
    height:100%;
    background-color: #FFFFFF;
    top: 0;
    right: calc(100% - 30px);
}


.showcasing-container{
    position: relative;
    padding-bottom: 2rem;
}

.showcasing-container hr{
    margin: 4rem auto 5rem;
}

.showcasing-container img{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.showcasing-container .col-6{
    padding-bottom: 2rem;
}

.showcasing-container .col-6 h3{
    margin-bottom: 1rem;
    margin-top:1.5rem;
}

.showcasing-container .col-6 p{
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1360px){
    .cop26-title-container:before{
        width: 30px;
    }
}

@media screen and (max-width: 767px){
    .showcasing-container .col-5{
        padding-bottom: 100%;
    }
}

.stat-section-container{
    padding-bottom: 9rem;
}

.process-container{
    padding-top:5rem;
    padding-bottom: 5rem;
}

.stat-secondary-container{
    padding-top: 5rem;
}

.stat-secondary-container p{
    margin: 0.67em 0 0 0;
}

.stat-secondary-container .btn{
    margin-top: 1.67em;
}

.process-container .row-container{
    align-items: center;
}

.process-container .custom-col{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow:1;
    flex-wrap:wrap;
    min-width: 125px;
    margin-bottom: 2rem;
    
}

.process-container .custom-col.transform{
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}

.process-container .custom-col-2.transform{
    transition-delay: 1s
}

.process-container .custom-col-3.transform{
    transition-delay: 1.7s
}

.process-container .custom-col-4.transform{
    transition-delay: 2.4s
}

.process-container .custom-col-5.transform{
    transition-delay: 3.2s
}

.process-container .custom-col.transformed{
    opacity:1;
}

.process-container .custom-col .custom-col-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.diagram-right-arrow{
    width: 1.2rem;
}

.emission-amount{
    background-color: rgba(var(--hgh-white) , 0.1);
    padding: 0.3rem 0.6rem;
    align-self: flex-end;
    position: relative;
}

.emission-amount:after{
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 12px 0;
    border-color: transparent rgba(var(--hgh-white) , 0.1) transparent transparent;
    bottom:-12px;
    right: 0px;
}

.process-container .custom-col img{
    height: auto;
    margin: 1.5rem auto 1rem;
    width: 65px;
}

@media screen and (min-width: 400px){
    .process-container .custom-col img{
        width: calc(65px + 40 * ((100vw - 400px) / 900));
    }
}

@media screen and (min-width: 1300px){
    .process-container .custom-col img{
        width: 105px;
    }
}


@media screen and (max-width:722px){
    .process-container .custom-col-5{
        flex-grow: initial;
    }
}

@media screen and (min-width:571px) and (max-width:722px){
    .process-container .custom-col-5 .diagram-right-arrow{
        display: none;
    }
}

@media screen and (min-width:430px) and (max-width:572px){
    .process-container .custom-col-4{
        flex-grow: initial;
    }
    .process-container .custom-col-5{
        margin-right: auto;
    }
    .process-container .custom-col-4 .diagram-right-arrow{
        display: none;
    }
}

@media screen and (max-width:430px){
    .process-container .custom-col-3 .diagram-right-arrow,
    .process-container .custom-col-5 .diagram-right-arrow{
        display: none;
    }
}

.partner-slider{
    cursor: grab;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
}

.partner-content-container{
    padding-inline-start: clamp(1rem, 6%, 3rem);
    padding-block-start: 3.5rem;
    padding-block-end: 3.5rem;
    background-color:#FFFFFF;
    position: relative;
    margin-top: 2rem;
}

.partner-content-container:after{
    content: '';
    position: absolute;
    width: calc((100vw - 1300px) / 2);
    height:100%;
    background-color: #FFFFFF;
    top: 0;
    left: calc(100%);
}

@media screen and (max-width: 1360px){
    .partner-content-container:after{
        width: 30px;
    }
}

.partner-content-container .slider-js{
    position: relative;
}

.partner-content-container .slider-js .arrow-left{
    display: none;
}

.partner-content-container .slider-js .arrow-right{
    position: absolute;
    right: 2rem;
    top: 1.8rem;
    z-index: 2;
}

.partner-content-container .slider-js:after{
    content: '';
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 32.39%, rgba(255, 255, 255, 0) 99.7%);
    width: 13rem;
    z-index: 1;
    pointer-events: none;
}

.partner-slider:focus,
.partner-slider:active{
    cursor: grabbing;
}

.partner-slider .keen-slider__slide{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.partner-slider .keen-slider__slide img{
    max-width: 140px;
    max-height: 75px;
}

.hero-img-section-container{
    --img-height: 250px;
    --slider-height: 400px;
}

@media screen and (min-width: 400px){
    .hero-img-section-container{
        --img-height: (250px + 565 * ((100vw - 400px) / 600));
        --shape-height: (400px + 342 * ((100vw - 400px) / 600));
    }
}

@media screen and (min-width: 1000px){
    .hero-img-section-container{
        --img-height: 815px;
        --slider-height: 100px;
    }
}

.hero-img-section-container{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.hero-img-container{
    padding-bottom: calc(var(--img-height));
    position: relative;
    width: calc(100% - 1.6rem);
    max-width: calc(100% - ((100% - 1300px) / 2));
}

.hero-img-container:before{
    content: '';
    position: absolute;
    top:-175px;
    left: 0;
    height: 175px;
    width: 100%;
    max-width: 665px;
    background-image: url('/assets/img/hero-img-content-lines.svg');
    background-size: contain;
    background-position:left bottom ;
    background-repeat: no-repeat;
}

.hero-img-section-container::after {
    width: calc(521px + ((100% - 1300px) / 2));
}
.hero-img-section-container::after {
    content: '';
    background-color: rgb(var(--hgh-bright-green));
    background-image: url('/assets/img/square-tree-lines.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(50vw - 1.5rem);
    height: 75%;
    position: absolute;
    bottom: -15%;
    left: 0;
    z-index: -1;
}

.founders-section{
    background: linear-gradient(180deg, rgba(40, 40, 40, 0) 0%, rgba(40, 40, 40, 0.03) 100%);
    border-bottom: 1px solid rgb(var(--hgh-bright-green));
    padding-bottom:6rem;
    padding-top:6rem;
}

.founders-section .founders-col img{
    width: auto;
    height: 100%;
    max-width: 200px;
    max-height: 100%;
}

.founders-section .founders-col .headshot-col{
    margin-bottom: 1.5rem;
}

.founders-section .founders-col .intro-line{
    font-size: 17px;
    padding-block-end: 0.5rem;
    padding-block-start: 0.1rem;
}

.founders-section .founders-col .pre-title{
    padding-block-start: 0rem;
    padding-block-end: 0.25rem;
}

@media screen and (min-width:500px) and (max-width:767px), (min-width:1080px){
    .founders-section .founders-col{
        flex-direction: row;
    }
    .founders-section .founders-col img{
        max-width: 150px;
        max-height: 150px;
    }
    .founders-section .founders-col .headshot-col{
        margin-right: 1.5rem;
        margin-top:0.4rem;
    }
}

@media screen and (max-width:767px){
    .founders-section .founders-col:nth-child(2){
        margin-top:3rem;
    }
    .founders-section .founders-col:nth-child(1){
        margin-top:1rem;
    }
}

.contact-section-container .content-container{
    background-color: rgba(var(--hgh-dark-gray), 0.03);
}

.contact-section-container .content-container{
    padding: 0 1rem 4rem;
}

@media screen and (min-width: 1060px){
    .contact-section-container .content-container{
        padding: 0 3rem 4rem;
    }
}

.contact-section-container .col-6{
    margin-bottom: 1.5rem;
}

.contact-section-container .pre-title{
    padding-block-end: 0.2rem;
    padding-block-start: 2rem;
}

.contact-section-container h2{
    position: relative;
    z-index: 2;
}

.contact-section-container h2:after{
    content: '';
    position: absolute;
    width: calc(100% + 6rem);
    height: 0.65em;
    background-color:#FFFFFF;
    left: -3rem;
    top: 0;
    z-index: -1;
}

.contact-email{
    word-wrap: anywhere;
}

.contact-sm{
    padding-block-start: 0.35rem;
}

.contact-sm a{
    margin-right: 0.5rem;
    opacity: 0.85;
    transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.contact-sm a:hover{
    opacity: 1;
}

.dots{
    position: relative;
    z-index: 2;
}

.dot{
    width: 17px;
    height: 17px;
    background-color: rgba(var(--hgh-medium-gray) , 0.35);
    border-radius: 50%;
    margin-right: 0.5rem;
}

.dot.dot--active{
    background-color: rgba(var(--hgh-bright-green) , 1);
}

.form-field{
    margin-block-end: 1.5rem;
}

.contact-form{
    padding-block-start: 2rem;
}

label{
    letter-spacing: 2%;
    white-space: nowrap;
    font-weight: 900;
    display: block;
    margin-block-end: 0.25rem;
}

input,textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 0.25rem 0.75rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(var(--hgh-bright-green));
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    transition: box-shadow 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

textarea{
    min-height: 58px;
}

input::placeholder,textarea::placeholder{
    font-size: 17px;
    color: rgb(var(--hgh-medium-gray));
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

input:focus,textarea:focus{
    box-shadow: -1px 0 0 rgb(var(--hgh-bright-green));
    outline: none;
    background-color: rgba(255, 255, 255, 0.55);
}

input:focus::placeholder,textarea:focus::placeholder{
    opacity: 0.5;
}

.contact-section-container .content-container{
    background-image: url('/assets/img/mobile-contact-lines.svg');
    background-position: top right;
    background-size: auto;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px){
    .contact-section-container .content-container{
        background-image: url('/assets/img/contact-lines.svg');
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: right 2rem bottom -9rem;
    }
    .contact-section-container .content-container.transform{
            background-position: right 2rem bottom -9rem;
            transition: background-position 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s , opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.7s;
    }

    .contact-section-container .content-container.transformed{
        background-position: right 2rem bottom -3rem;
    }
}

.site-footer{
    padding-top:1.25rem;
    padding-bottom: 1.25rem; 
}

@media screen and (min-width: 768px){
    .site-footer .col-6:nth-child(2){
        align-items: flex-end;
    }
    .site-footer p{
        margin: 0;
    }
}

.forth-section{
    width:100%;
    height: calc(100vh - 60px);
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align:center;
    position:relative;
    margin-top: 60px !important;
}

.forth-section .images-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width: 100%;
}

.forth-section .images-wrapper div{
    position: absolute;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1111px){
    .forth-section .images-wrapper div img{
        height: 100%;
    }
    .house-section-container{
        padding-bottom: 5rem;
    }
    .forth-section{
        height: calc(100vh - 98px);
        margin-top: 98px !important;
    }
}

.download-section-container .row-container{
    padding-top: clamp(1rem , 5% , 2rem);
    padding-right: clamp(1.5rem , 6% , 5rem);
    padding-bottom: clamp(1.5rem , 5% , 3rem);
    padding-left: clamp(1.5rem , 6% , 5rem);

    background-image: url('/assets/img/download-section-bg-lines.svg');
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
}

.download-section-container .row-container .btn{
    margin-top: 5rem;
}

.stat-section-green-container{
    background-image: url('/assets/img/stat-wood-lines.svg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-top:6rem;
}



.header2about-block-spacer{
    height: clamp(10rem , 23vw , 12rem);
}

.why2what-block-spacer{
    height: clamp(7rem , 20vw , 10rem);
}

.hero2cop-block-spacer{
    height: clamp(10rem , 20vw , 16rem);
}

.fouders2contact-block-spacer{
    height: clamp(5rem , 23vw , 9rem);
}

.show2lead-block-spacer{
    height: clamp(3rem , 23vw , 5rem);
}

.credit-caption{
    position: absolute;
    z-index:2;
    padding: 3px 12px 4px;
    text-align: left;
}

.credit-caption span{
    opacity: 0.85;
}

.skip-button{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: max-content;
}

.skip-button:before,
.skip-button:after{
    display: none;
}

@media screen and (max-width:480px){

    .skip-button{
        padding: 10px;
        left: auto;
        right: 1rem;
        bottom: 4.75rem;
    }
}


.fig-desc{
    font-style: italic;
}

.credit-caption a{
    text-decoration: underline;
    text-decoration-color:rgba(var(--hgh-bright-green) , 1)
}

.ap-bottom-right{
    bottom: 0;
    right:0;
}

.forth-section .ap-bottom-right{
    bottom: 1rem;
}

.ap-bottom-left{
    bottom: 0;
    left:0;
}

.ap-top-right{
    top: 0;
    right:0;
}

.transform figcaption{
    opacity:0;
    transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s;
}

.transformed figcaption{
    opacity:1;
}